/* GENERALITES
/////////////////////////////////////
*/

body{
	background-color: #F5F5F5 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Varela Round', sans-serif !important;
}


img{
	border: none;
}


p{
	font-size: 1.2em !important;
	color: #424242;
}

h1{
	color: #00695C !important;
	font-family: 'Kalam' !important;
}

h2{
	color: #424242 !important;
	padding-bottom: 10px;
	margin-bottom: 20px !important;
	border-bottom: solid 1px #BDBDBD;
	font-family: 'Kalam' !important;
}

h3{
	margin: 0 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-size: 1.4em !important;
	color: #A2000F !important;
	font-family: 'Kalam' !important;
}

h4{
	font-family: 'Kalam' !important;
}

a{
	text-decoration: none;
	color: inherit; !important;
}

a:hover{
		text-decoration: none !important;
}



.outil{
	font-size: 0.7em !important;
	font-style: italic;
	padding-left: 5px;
}


.container{
	background-color: white;
}

footer{
	margin-top: 50px;
}

/* HEADER 
/////////////////////////////////////
*/

header{
	width: 100%;
	height: 70px;
	background-color: #00695C;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
}

.header-centre{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo{
	height: 70px;
	line-height: 70px;
}

.logo a{
	font-family: 'Kalam', cursive;
	font-size: 1.8em;
	color: rgba(255,255,255, 1);;
}

.logo a:hover{
	color: rgba(255,255,255,0.8);
}

/* MENU
/////////////////////////////////////
*/

nav ul{
	list-style-type: none;
	display: flex;
}

nav li{
	line-height: 70px;
	padding-right: 10px;
	font-size: 1.1em;
	color: rgba(255,255,255, 0.9);
}

nav li a{
	color: inherit;
}

nav li a:hover{
	color: white;
}


/* CONTENU
/////////////////////////////////////
*/

.page-contenu{
	background-color: #ffffff;
	width: 90%;
	min-height: 400px;
	height: auto;
	margin: auto;
	margin-top: 70px;
}


/* RESPONSIVE 
/////////////////////////////////////
*/

@media all and (max-width: 750px){

	.site-container{
		height: 100vh;
		overflow: hidden;
	}

	.site-pusher{
		height: 100vh;
		transform: translateX(0px);
		-webkit-transition-duration: 0.3s; 
		-moz-transition-duration: 0.3s; 
		-o-transition-duration: 0.3s; 
    	transition-duration: 0.3s;
	}

	header{
		position: static;
	}

	.page-contenu{
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow:scroll; 
		-wekkit-overflow-scrolling: touch;
		margin-top: 0px;
		z-index: 1;
	}

	.icone-menu-mobile{
		display: block;
		position: relative;
		float: left;
		width: 70px;
		height: 70px;
	}

	.icone-menu-mobile:after{
		content: "";
		position: absolute;
		display: block;
		width: 16px;
		height: 0;
		top: 18px;
		left: 27px;
		box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
	}


	.menu{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 250px;
		background-color: #004D40;
		transform: translateX(-250px);
		-webkit-transition-duration: 0.3s; 
		-moz-transition-duration: 0.3s; 
		-o-transition-duration: 0.3s; 
    	transition-duration: 0.3s;
	}


	.wide-sidebar .site-pusher{
		transform: translateX(250px);
	}

	.wide-sidebar .site-cache{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 5;
		cursor: pointer;
	}



	nav ul{
		display: block;
		margin: 0;
		padding: 0;
	}

	nav li a{
		display: block;
		width: 250px;
		height: 50px;
		line-height: 50px;
		padding: 0;
		margin: 0;
		text-align: center;
		border-bottom: solid 1px #00695C;;
	}

	nav li a:hover{
		background-color: #00695C;
	}

	.barre{
		display: none;
	}


	.header-centre{
		display: block;
	}


}